name: CI Workflow

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3
      
      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      
      # Step 3: Install AWS CLI
      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
      
      # Step 4: Configure AWS credentials
      - name: Configure AWS credentials
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
      
      # Step 5: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r starter/requirements.txt
      
      # Step 6: Pull data with DVC
      - name: Pull data with DVC
        run: |
          dvc pull
          
      # Step 6.a: Check model directory contents
      - name: List model directory
        run: |
          echo "Contents of model directory:"
          ls -l starter/model/
      
      # Step 7: Run flake8
      - name: Run flake8
        run: |
          flake8 starter/src/ --max-line-length=120
      
      # Step 8: Run pytest
      - name: Run pytest
        env:
          PYTHONPATH: ${{ github.workspace }}  # Set the PYTHONPATH to the root directory
        run: |
          pytest starter/
